@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
     font-family: 'Antiga';
     src: url('../fonts/antigaRegular.ttf');
}

@font-face {
     font-family: 'PP Neue Montreal Book';
     src: url('../fonts/PPNeueMontreal-Book.otf');
}
@font-face {
     font-family: 'PP Neue Montreal Medium';
     src: url('../fonts/PPNeueMontreal-Medium.otf');
}

@font-face {
     font-family: 'PT Serif';
     src: url('../fonts/PTSerif-Regular.ttf');
}
